In [ ]:
import os 
import re  
import pandas as pd
from sklearn.metrics import confusion_matrix 
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cross_validation import train_test_split
from sklearn import svm,grid_search
from sklearn import metrics 
import nltk
from sklearn.naive_bayes import MultinomialNB

In [16]:
import io
io.open(filename, encoding='latin-1')

In [ ]:
short_pos = pd.read_csv("positive.txt", sep="r\n", header=None, encoding="windows_1258")
short_neg = pd.read_csv("negative.txt", sep="r\n", header=None, encoding="windows_1258")

In [27]:
short_pos.columns =  ['Reviews']
short_neg.columns =  ['Reviews']

In [28]:
short_pos.head()

                                             Reviews
0  the rock is destined to be the 21st century's ...
1  the gorgeously elaborate continuation of " the...
2                     effective but too-tepid biopic
3  if you sometimes like to go to the movies to h...
4  emerges as something rare , an issue movie tha...

In [29]:
short_neg.head()

                                             Reviews
0                   simplistic , silly and tedious .
1  it's so laddish and juvenile , only teenage bo...
2  exploitative and largely devoid of the depth o...
3  [garbus] discards the potential for pathologic...
4  a visually flashy but narratively opaque and e...

In [30]:
short_pos["Sentiment"]="1"
short_neg["Sentiment"]="0"

In [31]:
short_neg.head()

                                             Reviews Sentiment
0                   simplistic , silly and tedious .         0
1  it's so laddish and juvenile , only teenage bo...         0
2  exploitative and largely devoid of the depth o...         0
3  [garbus] discards the potential for pathologic...         0
4  a visually flashy but narratively opaque and e...         0

In [32]:
x_short_pos=short_pos[:1000]
x_short_neg=short_neg[:1000]
data=pd.concat([x_short_pos, x_short_neg])
data.index=range(len(data.Sentiment))

In [33]:
data

                                                Reviews Sentiment
0     the rock is destined to be the 21st century's ...         1
1     the gorgeously elaborate continuation of " the...         1
2                        effective but too-tepid biopic         1
3     if you sometimes like to go to the movies to h...         1
4     emerges as something rare , an issue movie tha...         1
...                                                 ...       ...
1995  jones helps breathe some life into the insubst...         0
1996  the movie just has too much on its plate to re...         0
1997  comes off more like a misdemeanor , a flat , u...         0
1998                                    cinematic poo .         0
1999  offers absolutely nothing i hadn't already seen .         0

[2000 rows x 2 columns]

In [34]:
data.to_csv('dataset.csv', index = False )